@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

p{
	font-size: 14px;
}

body {
  background-color: #ffffff;
}